.container.nav_container{
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    padding: 1.2rem 0 1.2rem;
}
.nav_logo-image{
    height: 22.740001678466797px;
    width: 88.6928939819336px;
    margin-top: 0.9rem;
}
.nav_items{
    display: flex;
    gap: 1.2rem;
    
}
.nav-list{
    display: flex;
    gap: 2rem;
    padding: 1.2rem 0 1.2rem;
}
.nav_profile{
    display: flex;
    gap: 1.2rem;
    justify-content: space-between;
}
.btn.btn-primary{
    margin-top: 0.3rem;
    height: 50px;
    padding: 14px, 32px, 14px, 32px;

}
.nav_list-item > a {
    cursor: pointer;
}
.nav_list-item{
  margin: 0 0.9rem;
  font-weight: 700;
  font-size: 15px;
}
.profile_pic{
    height: 40px;
    width: 40px;
    margin-top: 0.7rem;
    border-radius: 50%;
    cursor: pointer;

}
/* .nav_list-item > a > span{
    position: relative;
}
.nav_list-item > a::after {
        content: "";
        height:2px;
        background: var(--color-primary);
        position: absolute;
        left:0;
        right:0;
        bottom: -6px;
        opacity: 0;
        transform-origin: left center;
        transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        transform: scaleX(0);
} */

